@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  background: #0d0d0d;
}

main {
  display: flex;
  height: 100%;
  gap: 1rem;
  padding: 1rem;
}

/* -------- LEFT PANEL -------- */
.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #1a1a1a;
  border-radius: 0.7rem;
  padding: 1rem;
}

.topButtons {
  display: flex;
  gap: 0.7rem;
  margin-bottom: 0.7rem;
}

.topButtons button {
  padding: 0.4rem 1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  background: #ffffff25;
  color: white;
  transition: 0.2s;
}

.topButtons button:hover {
  background: #ffffff40;
}

.editorContainer {
  flex: 1;
  border-radius: 0.7rem;
  overflow: hidden;
}

/* -------- RIGHT PANEL -------- */
.right {
  flex: 1;
  background: #1a1a1a;
  border-radius: 0.7rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.outputBox {
  flex: 1;
  margin-top: 0.8rem;
  padding: 1rem;
  overflow-y: scroll;
  background: #0c0c0c;
  border-radius: 0.7rem;
  color: white;
  font-size: 1rem;
  line-height: 1.4rem;
}
