@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1rem;
  gap: 0;
  background-color: rgba(0, 0, 0, 0.638);
  overflow: hidden;
}

/* LEFT PANEL */
.left {
  height: 100%;
  background-color: #1e1e1e;
  border-radius: 0.5rem 0 0 0.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* RIGHT PANEL */
.right {
  height: 100%;
  background-color: #2e2e2e;
  border-radius: 0 0.5rem 0.5rem 0;
  overflow: auto;
  padding: 1rem 2rem;
  color: white;
}

/* DRAG BAR */
.resizer {
  width: 6px;
  background-color: #444;
  cursor: col-resize;
  transition: background 0.2s;
}

.resizer:hover {
  background-color: #666;
}

/* BUTTONS */
.topButtons {
  display: flex;
  gap: 10px;
  padding: 0.5rem;
}

.topButtons button {
  padding: 6px 14px;
  background: #444;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.editorContainer {
  flex: 1;
}
