* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 50% 1fr;
  height: 100%;
  background: #111;
  overflow: hidden;
}

/* LEFT & RIGHT PANELS */
.left,
.right {
  height: 100%;
  background: #1e1e1e;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.topButtons {
  padding: 8px;
  display: flex;
  gap: 10px;
}

.topButtons button {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.editorContainer {
  flex: 1;
}

.outputBox {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  background: #2d2d2d;
  color: white;
}

/* DRAG HANDLE */
.dragDivider {
  width: 5px;
  cursor: col-resize;
  background: #444;
  transition: background 0.2s;
}

.dragDivider:hover {
  background: #666;
}
