@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body , #root{
  width: 100%;
  height: 100%;
}

main{
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1rem;
  gap:1rem;
  background-color: rgba(0, 0, 0, 0.638);
}

.left{
  height: 100%;
  flex-basis: 50%;
  background-color: gray;
  border-radius: 0.7rem;
  position: relative;
  overflow: hidden;
  z-index: 10;
  color:white;
}

.right{
  height: 100%;
  flex-basis: 50%;
  background-color: grey;
  border-radius: 0.7rem;
  /* pointer-events: none; */
  overflow: auto;
  z-index: 1;
  font-size: medium;
  padding: 1rem 2rem;

}

.submit{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.7rem;
  color: black;
  background-color: white;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
}

/* pre{
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0.7rem;
  background-color: #0c0c0c;
} */